body {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container {
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}

.pager {
    width: 100%;
}

.pager > .prev {
    float: left;
}

.pager > .next {
    float: right;
}

figure.highlight {
    margin: 0 !important;
}

td.code, td.gutter {
    padding: 0 !important;
}