body {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.container {
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}

.pager {
    width: 100%;
}

.pager > .prev {
    float: left;
}

.pager > .next {
    float: right;
}

figure.highlight {
    margin: 0 0 16 0 !important;
    overflow-x: auto;
}

figure.highlight > table {
    display: table;
    width: 100%;
    margin: 0;
}

td.gutter {
    width: 40px;
    overflow: hidden;
}

td.code, td.gutter {
    padding: 0 !important;
}