<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><% if(page.title) { %><%= page.title %> - <% } %><%= config.title %></title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/github-markdown.css">
    <link rel="stylesheet" href="/highlight.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container markdown-body">
        <%- body %>

        <hr />
        <div class="row">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a>
            2000 - 2099 MonKey's Blog | 自豪地采用 Hexo + Pandoc + KaTeX + Highlight.js
        </div>
    </div>

    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?56782be779eaea170ff69b118783fd3f";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</body>
</html>
